a.nav-link,
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 5px 40px !important;
}
.navbar {
  overflow-x: scroll !important;
}
body {
  overflow-x: hidden !important;
  bottom-padding: 20px !important;
  overflow-y: overlay;
}
:not(.navbar > *) {
  word-break: break-word;
}
.navbar::-webkit-scrollbar {
  display: none !important;
}
body::-webkit-scrollbar {
  width: 10px !important;
}
body::-webkit-scrollbar-track {
  background: transparent !important;
}
body::-webkit-scrollbar-thumb {
  background: #007bff !important;
}
iframe,
.prettyprint {
  background-color: white !important;
  padding: 25px;
}
code:not(.prettyprint) {
  background-color: white !important;
  padding: 3px;
  margin: 0px 10px !important;
}
hr {
  border-color: white !important;
  border-width: 5px;
}
select,
input,
.btn {
  font-size: 2rem !important;
}
select,
input {
  padding: 5px;
  text-align: center;
  width: 100% !important;
}
.disabled-logo {
  filter: brightness(0%) invert(23%) sepia(52%) saturate(4566%)
    hue-rotate(341deg) brightness(95%) contrast(80%);
  /*  https://codepen.io/sosuke/pen/Pjoqqp  */
}
