a.nav-link,
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 10px 40px !important;
  vertical-align: middle !important;
}
.navbar {
  overflow-x: scroll !important;
}
body::-webkit-scrollbar {
  width: 10px !important;
}
body::-webkit-scrollbar-track {
  background: transparent !important;
}
body::-webkit-scrollbar-thumb {
  background: #007bff !important;
}
