a.nav-link,
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 5px 40px !important;
}
.navbar {
  overflow-x: scroll !important;
}
body::-webkit-scrollbar {
  width: 10px !important;
}
body::-webkit-scrollbar-track {
  background: transparent !important;
}
body::-webkit-scrollbar-thumb {
  background: #007bff !important;
}
iframe, code {
  background-color:white !important; 
  padding:25px;
}
hr {
  color:white;
}